<tr id="group-quiz-row-{{ group_quiz.id }}">
    <td>
        <a href="{% url 'group-quiz-results' group_quiz.group.id group_quiz.quiz.id %}">
            {{ group_quiz.quiz.name }}
        </a>
    </td>
    <td class="text-center">{{ group_quiz.group.name }}</td>
    <td class="text-center">{{ group_quiz.created_at|date:"Y-m-d H:i" }}</td>
    {% if user.is_authenticated %}
    <td class="text-end">
        <button class="btn btn-warning btn-sm"
                hx-get=""
                hx-target="body"
                hx-swap="beforeend">
            Update
        </button>
        <button class="btn btn-danger btn-sm"
                hx-get=""
                hx-target="body"
                hx-swap="beforeend">
            Delete
        </button>
    </td>
    {% endif %}
</tr>
