<tr id="subject-row-{{ subject.id }}">

    <!-- Subject Name -->
    <td>
        <a href="{% url 'category-detail' subject.id %}">
            {{ subject.name }}
        </a>
    </td>

    <!-- Total Questions -->
    <td class="text-center">{{ question_count }}</td>
    
    {%if user.is_authenticated%}
    <!-- Update Button -->
    <td class="text-end">
        
        <button 
        class="btn btn-warning btn-sm"
        hx-get="{% url 'update_subject' subject.id %}" 
        hx-target="body" 
        hx-swap="beforeend"
    >
        Update
    </button>                                         
        <a href="{% url 'remove_subject' subject.id %}" class="btn btn-danger btn-sm" 
           onclick="return confirm('Are you sure you want to remove this subject?');">
            Delete
        </a>
    </td>

    {%endif%}
</tr>