{% extends "layouts/base-fullscreen.html" %}

{% block title %} Password Reset Sent {% endblock %}

{% block content %}
<div class="content">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-6 mt-5 offset-md-3 pt-5 mt-5">
                <div class="card">
                    <div class="card-header text-center py-4">
                        <h4 class="title">Password Reset Sent</h4>
                    </div>
                    <div class="card-body text-center">
                        <p class="text-muted">
                            We have sent you an email with instructions to reset your password. If you do not receive it, please check your spam folder.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'login' %}" class="btn btn-fill btn-primary">Go to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}