{% extends "layouts/base.html" %}

{% block title %} Create Quiz {% endblock %}

{% block content %}
  <div class="content">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Create a New Quiz</h5>
          </div>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label>Category</label>
                {{ form.category }}
              </div>
              <div class="form-group">
                <label>Quiz Name</label>
                {{ form.name }}
              </div>
              <div class="form-group">
                <label>Private</label>
                {{ form.is_private }}
              </div>
              <button type="submit" class="btn btn-primary btn-fill">Save Quiz</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
