{% extends "layouts/base.html" %}
{% block title %} Subjects {% endblock %}
{% block content %}
<div class="content">
    <!-- Trigger Button for Subject Modal -->
    <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#subjectModal">
        Add New Subject
    </button>


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">List of Curent Group</h4>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter">
                            <thead class="text-primary">
                                <tr>
                                    <th>Grup Name</th>
                                    <th class="text-center">Description</th>
                                    {%if user.is_authenticated%}
                                    <th class="text-end">Actions</th> <!-- Added column for the Update button -->
                                    {%endif%}
                                </tr>
                            </thead>
                            <tbody id="subject-table-body">
                                {% for invitation in invitations %}
                                <tr>
                                    <td>
                                        {% if invitation.is_accepted %}
                                        <a href="{% url 'group_quizzes' group_id=invitation.group.id %}">
                                        {%endif%}
                                            {{ invitation.group.name }}
                                        </a>
                                    </td>
                                    <td class="text-center">{{ invitation.group.description }}</td>

                                    {% if user.is_authenticated %}
                                    <td class="text-end">
                                        {% if not invitation.is_accepted %}
                                        <a href="{% url 'accept_invitation' invitation.id %}"
                                            class="btn btn-success btn-sm">Accept</a>
                                        <a href="{% url 'decline_invitation' invitation.id %}"
                                            class="btn btn-danger btn-sm">Reject</a>
                                        {% else %}
                                        <span class="badge bg-success">Accepted</span>
                                        {% endif %}
                                    </td>
                                    {% endif %}
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="3" class="text-center">No invitations found.</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                        <!-- End of Subjects Table -->
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">List of available Quizes</h4>

                </div>


            </div>
        </div>
        {% include 'home/partials/new-create-subject.html' %}


    </div>

    {% endblock content %}