{% extends "layouts/base.html" %}

{% block title %} Subjects {% endblock %} 

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Subjects and Question Counts</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter">
                            <thead class="text-primary">
                                <tr>
                                    <th>Subject</th>
                                    <th class="text-center">Total Questions</th>
                                    <th class="text-center">Actions</th> <!-- Added Actions column -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for subject, question_count in subject_question_data %}
                                <tr>
                                    <td>
                                        <a href="{% url 'category-detail' subject.id %}">
                                            {{ subject.name }}
                                        </a>
                                    </td>
                                    <td class="text-center">{{ question_count }}</td>
                                    <td class="text-center">
                                        <!-- Update Button -->
                                        <a href="" class="btn btn-warning btn-sm">
                                            Update
                                        </a>
                                        <!-- Delete Button -->
                                        <a href="{% url 'remove_subject' subject.id %}" class="btn btn-danger btn-sm" 
                                           onclick="return confirm('Are you sure you want to remove this subject?');">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="3" class="text-center">No subjects found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p>Do you want to create your own quiz? You can start from <a href="{% url 'create_subject' %}">here</a>.</p>
                            </div>
                        </div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
