{% extends "layouts/base.html" %}
{% block title %} Add Question {% endblock %}
{% block stylesheets %}
    <!-- Load Tailwind CSS from Vite (This ensures Tailwind is only loaded here) -->
    
    <script src="https://cdn.tailwindcss.com"></script>
   
{% endblock %}
{% block content %}
  <div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-md mt-20">
      <h1 class="text-xl font-bold mb-4">Add Question</h1>
      
      <form method="POST">
          {% csrf_token %}
          
          <label class="block mb-2">Select Quiz:</label>
          {{ question_form.quiz }}
          
          <label class="block mt-4 mb-2">Question Text:</label>
          {{ question_form.text }}
          
          <label class="block mt-4 mb-2">Explanation:</label>
          {{ question_form.explanation }}
          
          <label class="block mt-4 mb-2">Example Code:</label>
          {{ question_form.example_code }}
          
          <div class="flex flex-col space-y-6 mt-6  md:grid md:grid-cols-2 md:gap-4 md:mt-4 ">
              <div>
                  <label class="block mb-2">Answer 1:</label>
                  {{ question_form.answer1 }}
              </div>
              <div class="flex items-center mt-6">
                  {{ question_form.correct_answers.0 }} Correct
              </div>
              
              <div>
                  <label class="block mb-2">Answer 2:</label>
                  {{ question_form.answer2 }}
              </div>
              <div class="flex items-center mt-6">
                  {{ question_form.correct_answers.1 }} Correct
              </div>
              
              <div>
                  <label class="block mb-2">Answer 3:</label>
                  {{ question_form.answer3 }}
              </div>
              <div class="flex items-center mt-6">
                  {{ question_form.correct_answers.2 }} Correct
              </div>
              
              <div>
                  <label class="block mb-2">Answer 4:</label>
                  {{ question_form.answer4 }}
              </div>
              <div class="flex items-center mt-6">
                  {{ question_form.correct_answers.3 }} Correct
              </div>
          </div>
          
          <button class="mt-4 w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600">Save Question</button>
      </form>
  </div>
{% endblock %}
